html {
  font-size: 100%;
}

body, html {
  height: 100%;
}

body {
  background-color: #FFB3DC;
  color: #ffffff;
}
body .top_elements {
  padding: 10px;
}
body .top_elements .logo {
  border-radius: 15px;
  padding: 5 30;
  background-color: #FFD5EC;
  padding: 5px 30px;
}
body .top_elements .log_out {
  float: right;
}
body .top_elements .log_out svg {
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-left: 5px;
}

.header {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 20px;
}
.header .user .name {
  padding: 5px;
}

svg {
  width: 25px;
  height: 25px;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 2048px;
  width: 80%;
}
.grid__cell {
  padding: 12px;
}
.grid__cell--50 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(50% - 6px);
          flex: 0 0 calc(50% - 6px);
}
.grid__cell--10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}
.grid__cell--33 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
body .top_elements a {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
}
body .name {
  font-weight: 700;
  font-size: 24px;
}
body a {
  text-decoration: none;
  font-weight: 400;
}

.card-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  padding: 18px;
  background-color: #FF8CCA;
  color: white;
  margin: 0 18px 25px 18px;
  width: 125px;
  height: 125px;
  border-radius: 15px;
}
.card-link svg {
  padding: 25px;
}
.card-link:visited {
  color: white;
}
.card-link__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-width: 680px;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

a:hover {
  background-color: #FFB3DC;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 0px 5px 5px #FF8CCA;
          box-shadow: 0px 5px 5px #FF8CCA;
  border-radius: 10px;
}

.avatar {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: solid 5px #ffffff;
  border-radius: 50%;
  background-color: #FFD5EC;
  background-image: url("../images/avatar.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.avatar:hover + .avatar__edit {
  -webkit-transform: scale(1.1) rotate(10deg);
          transform: scale(1.1) rotate(10deg);
  -webkit-box-shadow: -2px -2px 5px 5px rgba(0, 0, 0, 0.5);
          box-shadow: -2px -2px 5px 5px rgba(0, 0, 0, 0.5);
}
.avatar__edit {
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: white;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2.3em;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.avatar__edit svg {
  width: 1em;
  height: 1em;
  color: black;
}
.avatar__container {
  position: relative;
  text-align: center;
  background-color: #FFB3DC;
}

.align-center {
  text-align: center;
}